---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import
  "navigation",
  "mdl-overrides",
  "syntax-highlighting"
;

section h3:first-of-type {
  margin-top: 0;
}
.text-center {
  text-align: center;
}
.post-content {
  padding: 15px 0 50px;
  
  p, ul, ol {
    font-size: 16px;
    line-height: 28px;
  }
  p code {
    background-color: #FFECEC;
    color: #FF5252;
    padding: 3px 5px;
    border-radius: 5px;
  }
  
  img {
    max-width: 100%;
  }
}
i {
  cursor: default;
}
hr {
  margin: 40px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 40px;
}

.project-card.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
  margin: 10px 10px 0;
}
.project-card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.project-card > .mdl-card__title {
  align-items: flex-start;
}
.project-card > .mdl-card__title > h4 {
  margin-top: 0;
}
.project-card > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.project-card > .mdl-card__title,
.project-card > .mdl-card__actions,
.project-card > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.spacer {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

a[disabled] {
    pointer-events: none;
}