<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Main</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="/">Home</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="http://www.forrestbradley.me">Resume</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Featured Projects</h1>
      <ul class="mdl-mega-footer--link-list">
      {% for post in site.posts %}
        {% if post.categories contains 'featured' %}
        <li><a href="{{post.url}}">{{post.title}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Connect</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="https://github.com/fbradley8">GitHub</a></li>
        <li><a href="https://twitter.com/ForrestJBradley">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/forrest-bradley-4b70b33b">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/fbradley8">Facebook</a></li>
        <!-- <li><a href="#">Instagram</a></li> -->
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Some Other Stuff</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="https://www.flickr.com/photos/fbradley8/">Flickr</a></li>
        <li><a href="https://www.npmjs.com/~fbradley8">npm</a></li>
        <li><a href="http://steamcommunity.com/id/fbradley8">Steam</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      &copy; Forrest Bradley
    </div>
<!--     <ul class="mdl-mega-footer--link-list">
      <li><a href="#">Privacy and Terms</a></li>
    </ul> -->
  </div>
</footer>
