<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>{{ site.title }}</h3>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#home" class="mdl-layout__tab">Home</a>
    <a href="#projects" class="mdl-layout__tab">Projects</a>
    <div class="spacer"></div>
    <a href="http://www.forrestbradley.me" class="mdl-layout__tab mdl-navigation__link--icon" onclick="window.location=this.href">
      <i class="material-icons">link</i>
      <span>Résumé</span>
    </a>
  </div>
</header>
