<div class="mdl-layout__tab-panel is-active" id="home">
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <h3 class="text-center">Featured Projects</h3>

      <div class="card-container">
      {% for post in site.posts %}
        {% if post.categories contains 'featured' %}
        <div class="project-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h4>
              {{post.title}}<br>
            </h4>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="{{post.url}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              View Project
            </a>
            <div class="mdl-layout-spacer"></div>
            {% if post.source %}
            <i id="{{post.id}}" class="material-icons">code</i>
            <div for="{{post.id}}" class="mdl-tooltip">
              Open Source
            </div>
            {% else %}
            <i id="{{post.id}}" class="material-icons">lock_outline</i>
            <div for="{{post.id}}" class="mdl-tooltip">
              Closed Source
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
      
      <hr>

      <h3 class="text-center">Background</h3>
      <p class="text-center">You could say I'm a front-end engineer, but I enjoy doing it all. I've been up in the attic wiring buildings, at the mall setting up networks, administering systems for attorneys offices and enterprises around the bay, and programming at a desk in the corporate cube farm. The MEAN stack is my favorite and I enjoy hacking on bleeding edge technologies. I'm always learning something new and coming up with disruptive ideas. My entrepreneurial spirit keeps me active and I'll occasionally contribute to open-source projects, but most of my time is spent on my own.</p>

      <hr>


    </div>
  </section>

<!--   <section class="section--footer mdl-color--white mdl-grid">
    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
      <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
    </div>
    <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
      <h5>Lorem ipsum dolor sit amet</h5>
      Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
    </div>
    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
      <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
    </div>
    <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
      <h5>Lorem ipsum dolor sit amet</h5>
      Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
    </div>
  </section> -->
</div>