<div class="mdl-layout__tab-panel" id="projects">
{% for post in site.posts %}
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    {% if post.image %}
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"></header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    {% else %}
    <div class="mdl-card mdl-cell mdl-cell--12-col">
    {% endif %}
      <div class="mdl-card__supporting-text">
        {% if post.title %}
        <h4>{{ post.title }}</h4>
        {% endif %}
        {{ post.excerpt }}
      </div>
      <div class="mdl-card__actions">
        <a href="{{ post.url | prepend: site.baseurl }}" class="mdl-button">Read more</a>
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn{{ forloop.index }}">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{ forloop.index }}">
      <li class="mdl-menu__item" {% unless post.source %} disabled {% endunless %}>View Source</li>
      <li class="mdl-menu__item" {% unless post.download %} disabled {% endunless %}>Download</li>
    </ul>
  </section>
{% endfor %}
</div>
