<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>{{ site.title }}</h3>
  </div>
  <nav class="mdl-navigation main-navigation mdl-js-ripple-effect {{ page.categories | join: ' '}}">
    <a href="/" class="mdl-navigation__link home">Home</a>
    <a href="/#projects" class="mdl-navigation__link projects">Projects</a>
    <a href="http://www.forrestbradley.me" class="mdl-navigation__link resume">Résumé</a>
  </nav>
</header>
