.main-navigation__container {
  overflow: hidden;
  position: absolute;
  height: 64px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.main-navigation {
  box-shadow: none !important;
  border: 0 !important;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  padding-left: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  // margin-bottom: -16px;
}
.main-layout.is-small-screen .main-navigation {
  padding: 0;
}
.main-layout.is-small-screen .main-navigation .mdl-navigation__link .material-icons {
  display: none;
}
.main-navigation::-webkit-scrollbar {
  display: none;
}
.main-layout.is-small-screen .main-navigation__container {
  top: 0;
  bottom: auto;
  left: 48px;
  width: calc(100% - 2 * 48px);
  padding: 0 !important;
}
.mdl-navigation__link--icon > span, .mdl-navigation__link--icon > .material-icons {
  line-height: 64px;
  margin-right: 8px;
  line-height: inherit;
}
.main-navigation .mdl-navigation__link {
  display: flex;
  flex-shrink: 0;
  user-select: inherit;
  height: 64px;
}
.main-navigation .mdl-navigation__link:hover,
.main-navigation .mdl-navigation__link.download:hover > span,
.main-navigation .mdl-navigation__link.download:hover > .material-icons {
  background-color: inherit;
  opacity: 1 !important;
}
.main-navigation .mdl-navigation__link:not(.download),
.main-navigation .mdl-navigation__link.download > span,
.main-navigation .mdl-navigation__link.download > .material-icons {
  opacity: 0.65;
}
.main-navigation .mdl-navigation__link, section.download {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 64px;
  padding: 0 16px;
  color: white;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
.main-layout.is-small-screen .main-navigation .mdl-navigation__link,
.main-layouy.is-small-screen section.download {
  padding: 0 12px;
}
.about .main-layout:not(.is-small-screen) .mdl-navigation__link.download > .material-icons {
  display: none;
}
.about .main-layout.is-small-screen .mdl-navigation__link.download > button,
body:not(.about) .mdl-navigation__link.download > button {
  display: none;
}
.main-navigation .download button .material-icons {
  color: black;
  opacity: 0.54;
}
.main-navigation.about .about,
.main-navigation.home .home,
.main-navigation.projects .projects,
.main-navigation.resume .resume {
  opacity: 1;
  border-bottom-color: #18FFFF;
}